/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Variables */

:root {
  --secondary-background: #f5f7fa;
  --green: #4caf4f;
  --width: 1200px;
}

body {
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none !important;
}

/* Hero Section */

.hero-section {
  background-color: var(--secondary-background);
}

.hero-section .top-nav {
  padding: 1rem;
}

.hero-section .top-nav #nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width);
  margin: 0 auto;
}

.hero-section .top-nav #nav-bar #nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.hero-section .top-nav #nav-bar #nav-links li {
  list-style: none;
  font-size: 0.8rem;
  color: #000;
}

.auth-links a {
  font-size: 0.8rem;
}

.auth-links a:first-child {
  margin-right: 1em;
  color: var(--green);
}

.auth-links a:last-child {
  background-color: var(--green);
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
}

/* Main hero section */

.main-hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: var(--width);
  margin: 5em auto 0;
  padding-bottom: 5em;
}

.main-hero-section div h2 {
  font-size: 3rem;
  font-weight: 300;
}

.main-hero-section div h2:first-child {
  opacity: 0.7;
}

.main-hero-section div h2:nth-child(2) {
  color: var(--green);
}

.main-hero-section div p {
  font-size: 0.75rem;
  margin-top: 1em;
}

.main-hero-section div a {
  background: var(--green);
  color: #fff;
  font-size: 0.8rem;
  padding: 8px 16px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 2em;
}

/* Client Section */

#client-section {
  width: var(--width);
  margin: 3em auto 0;
  text-align: center;
}

#client-section h3 {
  opacity: 0.7;
  font-weight: 500;
  font-size: 1.5rem;
}

#client-section p {
  opacity: 0.8;
  font-size: 0.8rem;
}

.client-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5em;
}

/* Community Section */

#community-section {
  width: var(--width);
  margin: 3em auto 0;
  text-align: center;
}

#community-section h3 {
  opacity: 0.7;
  font-weight: 500;
  font-size: 1.5rem;
}

#community-section p {
  opacity: 0.8;
  font-size: 0.8rem;
}

.community-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3em;
  gap: 2em;
}

.community-cards div {
  background: var(--secondary-background);
  padding: 1.5em;
  border-radius: 10px;
}

.community-cards div h4 {
  font-weight: 400;
  opacity: 0.8;
}

.community-cards div p {
  margin-top: 0.5em;
}

/* Rafiki section */

.rafiki-section {
  width: var(--width);
  margin: 5em auto 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3em;
}

.rafiki-section h3 {
  font-size: 2rem;
  font-weight: 400;
  opacity: 0.8;
}

.rafiki-section p {
  font-size: 0.75rem;
  opacity: 0.8;
  margin-top: 1em;
}

.rafiki-section a {
  background-color: var(--green);
  color: #fff;
  padding: 1em 2em;
  font-size: 0.75rem;
  display: inline-block;
  margin-top: 1em;
  border-radius: 5px;
}

/* Result section */

.result-section {
  background-color: var(--secondary-background);
  margin-top: 5em;
  padding: 2em;
}

.result-section > div {
  width: var(--width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1em;
}

.result-section > div > div:first-child h4 {
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.8;
}

.result-section > div > div:first-child h4:nth-child(2) {
  color: var(--green);
}

.result-section > div > div:first-child p {
  font-size: 0.75rem;
}

.result-section > div > div:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.result-section > div > div:last-child .result {
  display: flex;
  align-items: center;
  gap: 1em;
}

.result-section > div > div:last-child .result p {
  font-weight: 600;
  opacity: 0.7;
}

.result-section > div > div:last-child .result span {
  font-size: 0.75rem;
  opacity: 0.7;
}

@media only screen and (max-width: 1240px) {
  .hero-section .top-nav #nav-bar {
    width: initial;
  }
}

@media only screen and (max-width: 715px) {
  .hero-section .top-nav #nav-bar #nav-links {
    display: none !important;
  }

  .auth-links {
    display: none;
  }

  header nav i.bi-list {
    display: initial !important;
    font-size: 1.5rem;
  }
}
